<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- Every repo access should go through artifactory -->
  <mirrors>
    <mirror>
      <id>artifactory-mirror</id>
      <name>artifactory</name>
      <url>${env.ARTIFACTORY_URL}</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

  <!--
  #################################################################
  # Server and Mirror Config
  #################################################################
  -->
  <servers>
    <server>
      <id>artifactory-mirror</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
    </server>
    <server>
      <id>six-group-net-release-local</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
    </server>
    <server>
      <id>six-group-net-snapshot-local</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
    </server>
  </servers>
</settings>

